@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    /* cursor: none; */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.info {
    position: absolute;
    bottom: 15px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon-info {
    right: 15px;
}

.health-info {
    left: 15px;
}

.reload-info {
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadable-element {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.hidden {
    display: none;
}
